    <!-- Main Content -->

    <div class="p-8" data-side-bar-buttons-target="content">
        <!-- Metric Cards -->
        <%= render "shared/metric_cards"%>

        <!-- Overview Chart + Appointment List -->
        <%= render "shared/overview_appointment_list"%>
      
    </div>